name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "4.0"
            ar_version: 8.1.0
          - ruby: 3.4
            ar_version: 8.0.0
          - ruby: 3.3
            ar_version: 7.2.0
          - ruby: 3.2
            ar_version: 7.1.0
          - ruby: 3.3
            gemfile: gemfiles/mongoid9.gemfile
            mongodb: true
          - ruby: 3.2
            gemfile: gemfiles/mongoid8.gemfile
            mongodb: true
    runs-on: ubuntu-latest
    env:
      AR_VERSION: ${{ matrix.ar_version || 'none' }}
      BUNDLE_GEMFILE: ${{ matrix.gemfile || 'Gemfile' }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - if: ${{ matrix.mongodb }}
        uses: ankane/setup-mongodb@v1
      - run: bundle exec rake test
